/*import any plugins here*/
/* ================================= 
  Variables
==================================== */
/* ================================= 
  Base Styles
==================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

button {
  border: none; }

/* ================================= 
  Typography Styles
==================================== */
@font-face {
  font-family: 'SFDigitalReadout-Medium';
  src: url("../fonts/SFDigitalReadout-Medium.eot");
  src: url("../fonts/SFDigitalReadout-Medium.woff2") format("woff2"), url("../fonts/SFDigitalReadout-Medium.woff") format("woff"), url("../fonts/SFDigitalReadout-Medium.ttf") format("truetype"), url("../fonts/SFDigitalReadout-Medium.svg#SFDigitalReadout-Medium") format("svg"), url("../fonts/SFDigitalReadout-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/* ================================= 
  Button Styles
==================================== */
/* ================================= 
  Plastics Styles
==================================== */
.label-switch {
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  width: 52px; }
  .label-switch input[type="checkbox"] {
    display: none; }
    .label-switch input[type="checkbox"] + .checkbox {
      background: #3f3f3f;
      border: 0;
      border-radius: 32px;
      cursor: pointer;
      height: 32px;
      margin: 0;
      padding: 0;
      position: relative;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 52px;
      z-index: 0; }
      .label-switch input[type="checkbox"] + .checkbox::before {
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: 2px;
        background: #565656;
        border-radius: 32px;
        content: "";
        height: 28px;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 48px;
        z-index: 1; }
      .label-switch input[type="checkbox"] + .checkbox::after {
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: 2px;
        width: 28px;
        height: 28px;
        background: #565656;
        border-radius: 28px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        content: "";
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 2; }
    .label-switch input[type="checkbox"]:checked + .checkbox {
      background: #477DCA; }
      .label-switch input[type="checkbox"]:checked + .checkbox::before {
        -webkit-transform: scale(0);
                transform: scale(0); }
      .label-switch input[type="checkbox"]:checked + .checkbox::after {
        left: 22px; }

/* ================================= 
  Flex Styles
==================================== */
.parent {
  border: 5px solid lightcoral; }

.item, .switch {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600; }

/* ================================= 
  Calculator Display
==================================== */
.display {
  background: -webkit-linear-gradient(top, #565656, #242424);
  background: linear-gradient(180deg, #565656, #242424);
  width: 500px;
  height: 140px;
  border-radius: 10px;
  border: solid 10px #171717;
  /*	border-image: linear-gradient(to bottom, darken($gray, 10%) 0%, darken($dark-gray, 10%) 100%);*/
  /*	border-image-slice: 1;*/
  /*	aborted effort at trapezoid shape*/
  /*	border-bottom: 100px solid $gray;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;*/ }

.screen {
  border-radius: 2px;
  text-align: center;
  background: #111;
  margin: 10px auto;
  width: 400px;
  height: 100px; }

.LCD-segment {
  font-size: 3em;
  font-family: "SFDigitalReadout-Medium", mono-space; }

.charDull {
  color: #242424; }

.charOn {
  color: #00ED9A;
  text-shadow: 0 0 1px #87ffd5, 0 0 2px #005437; }

/* ================================= 
  Calculator Body
==================================== */
.calculator {
  background: -webkit-linear-gradient(top, #565656, #242424);
  background: linear-gradient(180deg, #565656, #242424);
  width: 500px;
  height: 340px;
  border-radius: 10px;
  border: solid 10px #171717;
  /*	border-image: linear-gradient(to bottom, darken($gray, 10%) 0%, darken($dark-gray, 10%) 100%);*/
  /*	border-image-slice: 1;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*	align-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.number, .function, .space, .clear {
  /*maybe delete this when flex is setup?*/
  width: 20%; }

.switch {
  width: 45%;
  background: transparent; }

.clear {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  background: #E82226;
  box-shadow: 0px 6px 0px 0px #660b0d;
  border-radius: 6px; }
  .clear:active {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
    box-shadow: 0px 2px 0px 0px #950f12; }

.space {
  background: transparent; }

.number {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1A1A1A;
  background: #FFF4C1;
  box-shadow: 0px 6px 0px 0px #ffd928;
  border-radius: 6px; }
  .number:active {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
    box-shadow: 0px 2px 0px 0px #ffe25b; }

.function {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  background: #262FE8;
  box-shadow: 0px 6px 0px 0px #0b106a;
  border-radius: 6px; }
  .function:active {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
    box-shadow: 0px 2px 0px 0px #101698; }

/*.item:nth-child(2) {
	order: 2;
}

.item:nth-child(3) {
	order: 2;
}

.item:nth-child(5) {
	order: 3;
}*/
/* ================================= 
  Footer Styles
==================================== */

/*# sourceMappingURL=styles.css.map */
