@import 'plugins/plugins-dir';
@import 'base/base-dir';
@import 'modules/modules-dir';

/* =================================
  Page Styles
==================================== */

.wrapper {
	width: 500px;
	margin: 20px auto;
}


/* =================================
  Calculator Display
==================================== */

.display {

	@include plastics(500px, 140px);
/*	text-align: center;*/
	display: flex;
	justify-content: center;
	align-items: center;
/*	aborted effort at trapezoid shape*/
/*	border-bottom: 100px solid $gray;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;*/
}

.LCD {

	border: solid 1px $dark-gray;
	border-radius: 2px;
	background: $oil;
/*	margin: 25px auto;*/
	width: 400px;
	height: 60px;
}

.entry {
	text-align: right;
	margin-top: 15px;
	margin-right: 13px;	
}

.LCD-segment {
	font-size: 3em;
	font-family: $screen-font;
}

.charDull {
	color: $dark-gray;
}

.charOn {
	color: $green;
	text-shadow: 0 0 1px lighten($green, 30%),
	0 0 2px darken($green, 30%);
}

/* =================================
  Calculator Body
==================================== */

.calculator {
	@include plastics(500px, 340px);

	display: flex;
/*	align-content: space-between;*/
	flex-wrap: wrap;
	justify-content: space-around;
}

/**** Flex box ****/
.btnContainer {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 10px 0;
}

.btnContainer:last-child {
	margin-bottom: 18px;
}


.number, .function {
   width: 20%;
}
.clear {  /*maybe delete this when flex is setup?*/
	width: 20%;
}

.switch {
	padding-top: .5em;
	width: 68%;
	background: transparent;
}

.clear {
	@include button($red);
}

.space {
	background: transparent;
}

.number {
	@include button($ivory);
}

.function {
	@include button($blue);
}

/*.item:nth-child(2) {
	order: 2;
}

.item:nth-child(3) {
	order: 2;
}

.item:nth-child(5) {
	order: 3;
}*/



/* =================================
  Footer Styles
==================================== */
