/* ================================= 
  Variables
==================================== */

// Breakpoints
$mobile: 400px;


// Typography
$primary-font: 'Open Sans', sans-serif;
$screen-font: 'SFDigitalReadout-Medium', mono-space;

// Font Sizes
$base-font-size: 1em;


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;


// Colors
$ivory: #DED3A0;
// $ivory: rgba(255, 244, 193, .6);
$green: #00ED9A;
$red: #E82226;
$blue: #262FE8;
// $blue: rgba(38, 47, 232, .6);
$oil: #111;
$gray: #545454;
$dark-gray: #313131;
$light-gray: #4E4E4E;

$trans-gray: rgba(74, 74, 74, .5);
$trans-dark-gray: rgba(39, 39, 39, .5);

// Font Colors
$base-font-color: $oil;

