/* ================================= 
  Base Styles
==================================== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ================================= 
  Typography Styles
==================================== */



@font-face {
  font-family: 'SFDigitalReadout-Medium';
  src: url('../fonts/SFDigitalReadout-Medium.eot');
  src: url('../fonts/SFDigitalReadout-Medium.woff2') format('woff2'),
       url('../fonts/SFDigitalReadout-Medium.woff') format('woff'),
       url('../fonts/SFDigitalReadout-Medium.ttf') format('truetype'),
       url('../fonts/SFDigitalReadout-Medium.svg#SFDigitalReadout-Medium') format('svg'),
       url('../fonts/SFDigitalReadout-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');









