/* ================================= 
  Variables
==================================== */

// Breakpoints
$mobile: 400px;


// Typography
$primary-font: 'Open Sans', sans-serif;
$screen-font: 'SFDigitalReadout-Medium', mono-space;

// Font Sizes
$base-font-size: 1em;


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;


// Colors
$ivory: #FFF4C1;
$red: #E82226;
$blue: #262FE8;
$oil: #111;
$gray: #343434;
$dark-gray: #222;
$light-gray: #4E4E4E;

// Font Colors
$base-font-color: $oil;

