/* ================================= 
  Plastics Styles
==================================== */

@mixin plastics($width, $height) {
	background: linear-gradient(180deg, $gray, $dark-gray);
	width: $width;
	height: $height;
	border-radius: 10px;
	border: solid 8px darken($dark-gray, 5%);
/*	border-image: linear-gradient(to bottom, darken($gray, 10%) 0%, darken($dark-gray, 10%) 100%);*/
/*	border-image-slice: 1;*/
}